@charset "UTF-8";

#myPage {
	font: 400 15px/1.8 Lato, sans-serif;
	min-width: 1800px;
}

h3, h4, h5 {
	margin: 10px 0 30px 0;
	font-size: 20px;
	color: black;
}

.container {
	padding: 80px 120px;
	height: 800px;
}

.
#myNavbar {
	height: 600px;
}

.navbar {
	font-family: Montserrat, sans-serif;
	padding-bottom: 100px;
	background-color: white;
	border: 0;
	font-size: 15px !important;
	height: 130px;
	opacity: 0.9;
}

.navbar-nav {
	float: right;
	text-align: center;
	color: black;
	.
}

.navbar-brand {
	color: #339900 !important;
	text-align: center;
	margin: 5px;
}

.navbar-brand {
	font-size: 70px;
	text-align: center;
	margin: 5px;
}

.mySlides {
	color: white;
	font-weight: 400;
	width: 100%;
	height: 130px;
	background: #343838;
	padding: 1px 40px 10px 320px;
}

.banner {
	font-size: 15px;
	font-family: sans-serif;
	font-weight: 10px;
}

#band {
	margin-top: 135px;
	height: 800px;
}

#left {
	width: 500px;
	height: 400px;
	float: left;
	/* border: 5px solid red; */
	padding-top: 40px;
	padding-left: 200px;
	background: white;
	font-size: 1.1em;
}

#left1 {
	margin-left: 200px;
	width: 500px;
	height: 400px;
	float: left;
	/*  border: 5px solid red; */
	padding-top: 40px;
	padding-left: 200px;
	background: white;
	font-size: 1.1em;
}

#left a:hover, #left1 a:hover {
	color: gray;
	font-size: 1.2em;
	text-decoration: underline;
}

.com {
	color: black;
}

.search {
	margin-left: 43%;
	margin-top: 5px;
	float: left;
}

#cont {
	border: 5px solid red;
	float: left;
	height: auto;
	min-width: 51%;
	margin-top: 30px;
	padding-left: 30px;
}

.list {
	position: absolute;
	float: left;
	width: 300px;
	height: 250px;
	padding-left: 30px;
}

#center {
	min-height: 946px;
	min-width: 100px;
	border: 5px solid blue;
	display: inline-block;
	float: left;
}

#reply {
	border: 5px solid red;
	float: left;
	height: auto;
	min-width: 51%;
	margin-top: 30px;
	padding-left: 30px;
}

#right {
	border: 5px solid red;
	/*  position: absolute; */
	height: 946px;
	min-width: 100px;
	float: left;
}

.footer {
	float: left;
	width: 100%;
	background: #011627;
	color: white;
	padding: 10px;
}

.ul {
	float: left;
	margin-left: 70px;
}

.made {
	display: inline-block;
	/* text-align: left; */
}

#hr {
	color: white;
}